---
layout: default
---
<header class="{{ page.name | slugify }}">
	<div class="container">
		{% assign ename = page.profile.ename %}
		{{ ename }}
		<img src="/a/{{ename}}.jpg"  />
		<h3>{{ page.tagline }}</h3>
		<h3>{{ page.profile.secondname }}</h3>
		<p><a href="{{ page.site }}" target="_blank">View {{ page.site_name }} &rarr;</a></p>
	</div>
</header>

<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<section id="profile header">
	<div class="container text-container">
		{% assign imgfile = "/a/" | append: ename | append: "01" | append: ".jpg" %}
		{{ imgfile }}
		<img src="{{ imgfile }}" alt="{{ page.secondname }}" />
		
	</div>
</section>
<section>
	<div class="container text-container">
		<h2>Описание</h2>
		{{ page.challenge | markdownify }}

		<h2>How CloudCannon helped</h2>
		{{ page.solution | markdownify }}
	</div>
</section>

{% if page.heroprofile.testimonial %}
<section>
	<blockquote class="testimonial">
			<div class="container text-container">
				<p class="quote">{{ page.testimonial.text }}</p>
				<div class="author">
					<img src="{{page.testimonial.image_path}}" width="350">
					<p>
						<span>{{ page.testimonial.name }}</span>
						<br>
						{{ page.testimonial.work_title }}
					</p>
				</div>
			</div>
	</blockquote>
</section>
{% endif %}

<section>
	<div class="container">
		{% include customer-slideshow.html name="overview" slides=page.overview %}
	</div>
</section>

<section style="text-align: center; padding-bottom: 0;">
	<div class="container">
		<h2>Реализованные проекты</h2>
	</div>
</section>
{% assign postfix=20 %}
{% for project in page.projects %}
	<section class="{% cycle '', 'alternate' %}">
		<div class="container">
			<div class="text">
				<h3>{{ project.name }}</h3>
				{{ project.description | markdownify }}
			</div>
			
			<div class="image">
				{% assign imgfile = "/a/" | append: ename | append: postfix | append: ".jpg" %}
				{{ imgfile }} <br>
				<img class="screenshot" src="{{ project.image_path }}" width="550" alt="{{ project.name }}" /> <br>
				{% increment postfix %}
				{{ postfix }}
			</div>
		</div>
	</section>
{% endfor %}

<section class="alternate">
	<div class="container text-container">
		<h2>Summary</h2>
		{{ page.summary | markdownify }}
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Join {{ page.name }} and use CloudCannon with your team</h2>
		<p>
			<a href="https://app.cloudcannon.com/users/sign_up" class="btn btn-primary btn-large btn-block btn-centered">Sign up now</a>
		</p>
	</div>
</section>

<script src="/js/lightslider.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$(".photo-gallery").lightSlider({
			gallery: true,
			item: 1,
			loop: true,
			thumbItem: 5,
			thumbMargin: 20,
			slideMargin: 0,
			enableDrag: false,
			currentPagerPosition: "left",
		});
	});
</script>
